---
layout: page
bodytags: with_hero home
---

{% include hero.html with_logo=true title=site.claim desc=site.description %}

<section>
  <h2>Projects</h2>

  <div class="grid-items">
    {% for kv in site.data.projects %}
      {% assign project=kv[1] %}
      <a href="{{project.url}}" class="grid-item {% if project.featured %}grid-item-big{% endif %}">
        {% if project.bg_image %}
          <div class="bg-image" style="background-image:url({{project.bg_image}})"></div>
        {% endif %}
        {% if project.icon %}
          <span class="icon">{{project.icon}}</span>
        {% endif %}
        <h1>{{project.title}}</h1>
        {% if project.short_desc %}
          {{ project.short_desc | markdownify }}
        {% endif %}
      </a>
    {% endfor %}
  </div>

</section>

<section>
  <h2>About</h2>
</section>


<section>
  <h2>Latest Updates</h2>
</section>
