@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

body {
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 1.35em;
}

/**
 * Icons
 */
.icon {

  > svg {
    width: 28px;
    height: 28px;
    vertical-align: middle;

    path {
      fill: white;
    }
  }
}
.page, .post {
  margin-bottom: 5em;
}

.page, section {
  @include outer-container;
}

.post {
  max-width: 50em;
  margin: 2em auto;
}
.post-header {
  margin: 1em 0;
  font-size: 0.95em;
}
.post-content {
  font-size: 1.25em;
  font-weight: 200;
}


.formInput {
  margin: 2em 0 4em 0;
  padding: 3em;
  border: 1px solid #e0dd03;
  background: #f5f4ad;
  input, button {
    display: inline-block;
    max-width: 65%;
    vertical-align: top;
  }
}

section:after {
  width: 50%;
  border-bottom: 1px #eee solid;
  display: block;
  text-align: center;
  margin-left: 25%;
  margin-top: 0.25em;
}

.splitpane {
  display: flex;
  padding-bottom: 3em;
  .post-list {
    flex-grow: 1;
  }
  .formInput {
    margin: 0 2em;
    flex-grow: 2;
  }
}

.social-links {
  float: right;
  text-align: right;
  li {
    display: inline-block;
  }
}

.rss-subscribe {
    text-align: center;
    padding: 2em;
}
