@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

body {
  padding: 0;
  margin: 0;
}

/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;

    path {
      fill: white;
    }
  }
}

.post, .page {
  @include outer-container;
  article {
    @include span-columns(9);
  }
}
