.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: rgb(127, 153, 190);
  $hero-background-bottom: rgb(32, 57, 43);
  $hero-color: white;
  $gradient-angle: 10deg;

  @include background(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top));
  background-color: #324766;
  padding-bottom: 3em;
  position: relative;

  .hero-background {
    @include background(center center fixed);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
    background-size: cover;
  }

  .hero-logo img {
    height: 8em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;
    z-index: 2;
    position: relative;

    .hero-copy {
      text-align: center;

      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 60%;
        }
      }
    }
  }
}
