body.project {

  .github-buttons {
    float: right;
    margin: 1em;
  }

  .hero-copy {
    max-width: 980px;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }

}
