---
layout: default
bodytags: with_hero project
---
{% assign project=site.data.projects[page.project] %}

{% include hero.html image=project.bg_image title=project.title %}

{% if project.github %}
<div class='github-buttons'>
  <a aria-label="Star {{project.github}} on GitHub" data-style="mega" data-icon="octicon-star" href="https://github.com/{{project.github}}" class="github-button">Star</a>
  <a aria-label="Watch {{project.github}} on GitHub" data-style="mega" data-icon="octicon-eye" href="https://github.com/{{project.github}}" class="github-button">Watch</a>
  <a aria-label="Fork {{project.github}} on GitHub" data-style="mega" data-icon="octicon-repo-forked" href="https://github.com/{{project.github}}/fork" class="github-button">Fork</a>

  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

</div>
{% endif %}

<div class="page">
  {{ content }}

  {% if site.tags[page.project] %}
  {% assign articles=site.tags[page.project] %}
    <h2>Related news</h2>

    <ul class="post-list">
      {% for post in articles | limit: 3 %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% include newsletter_signup.html %}
</div>
