---
layout: default
bodytags: with_hero project
---
{% assign project=site.data.projects[page.project] %}

{% include hero.html image=project.bg_image title=project.title %}
<div class="page">
  {{ content }}

  {% if site.tags[page.project] %}
  {% assign articles=site.tags[page.project] %}
    <h2>Related news</h2>

    <ul class="post-list">
      {% for post in articles | limit: 3 %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% include newsletter_signup.html %}
</div>
